body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-y: auto;
    /* Add overflow-y: auto to enable vertical scrolling */
}

header {
    background-color: #5FBDFF;
    padding: 10px;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.rounding {
    border-radius: 10px;

}

.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pokemon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle {
    flex: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    /* Add overflow-y: auto to enable vertical scrolling within the .middle div */
}

.pokemon-details {
    text-align: left;
}

.pokemon-gallery {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-list {
    background-color: #96EFFF;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #7B66FF;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

aside {
    background-color: #C5FFF8;
    padding: 10px;
    text-align: center;
}

.pokemon-image {
    max-width: 100%;
    height: auto;
}

/* Media query for small screens (max-width: 400px) */


/* Media query for small screens (max-width: 400px) */
@media only screen and (max-width: 400px) {
    .middle {
        flex: 1;
        padding: 10px;
    }
}