body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-y: auto;
}

header {
    background-color: #0F0F0F;
    padding: 10px;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.pokemon-details {
    margin-left: 30px;
    text-align: left;
    padding: 5mm;
}

.pokemon-image {
    max-width: 100%;
    height: auto;
    background-color: #0F0F0F;
    border-radius: 10px;
    border-style: groove;
}

.pokemon-list {
    background-color: #232D3F;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #008170;
    padding: 10px;
    text-align: center;
}

.aside1 {
    background-color: #0F0F0F;
    padding: 10px;
    text-align: center;
}
.aside2 {
    background-color:#C5FFF8;
    padding: 10px;
    text-align: center;
}

.text2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#232D3F;
}

.pokemon-container {
    display: flex;
    align-items: center;
    background-color: #008170;
    padding: 1cm;
    border-color: color(from color srgb #0F0F0F);
    border-radius: 10px;
    border-style: solid;
}

.text1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #C5FFF8;
}

.rounding {
    border-radius: 10px;
}

main {
    background-color: #C5FFF8;
}

nav.text3 ul {
    list-style: none;
    padding: 0;
  }
  
  nav.text3 li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav.text3 a {
    text-decoration: none;
  }
  
  nav.text3 a span {
    display: inline-block;
    padding: 0.1em 0.25em;
    width: 8.25em;
    height: 2.5em;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    position: relative;
    bottom: 0.4em;
    text-align: center;
    line-height: 2.5em;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
    transition: all 1s;
  }
  
  nav.text3 a span:hover {
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
  }
  


